<div *ngIf="showplaces && showtime" class="section">
    <div class="container">
        <br><br>
        <h4 class="header center">{{showtime.Movie.Title}} в {{showtime.CinemaHall.Cinema.Title}}</h4>
        <h5 class="center">{{showtime.StartTime | dateformat}}</h5>
        <div class="row">
            <div class="col l3 s3">
                    <a target="_blank" (click)="goBack()" class="center-full orange waves-effect waves-light btn-large">Назад</a>
            </div>
            <div class="col offset-l6 offset-s6 l3 s3">
                    <a target="_blank" href="{{showtime.Link}}" class="center-full orange waves-effect waves-light  btn-large">Купить билеты</a>
            </div>
        </div>
                <div class="relative places-div" [style.width]="relativeDivWidthPixel" [style.min-height] = "relativeDivMinHeightPixel">
                    <div *ngFor="let showplace of showplaces"
                    class="seat-div absolute"
                    appShowtimePlaceStyle
                    [showplace]="showplace"
                    >
                        <div *ngIf="showplace.PlaceAccess != 1"
                            class="centered-text"
                            >
                            {{showplace.PlaceNumber}}
                        </div>
                    </div>
                </div>
                <br><br><br>
        <br><br>
    </div>
</div>