
@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@model List<BookingDataAccess.Movie>

<div class="section">
    <div class="container">
        <br><br>
        <h2 class="header">Фильмы</h2>
        <br><br>
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    @*
                    <th>Продолжительность</th>
                    *@
                    <th>Сеансы</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Title</td>
                        @*
                        <td>@movie.Duration</td>
                            *@
                        <td><a href="/Showtime/List?movieId=@movie.MovieId"></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br><br>
    </div>
</div>

