<footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l5 s12">
                    <h5 class="white-text">О нас</h5>
                    <p class="grey-text text-lighten-4">Мы являемся командой молодых разработчиков, цель которых упростить жизнь людей в мелочах. Сделаем мир удобнее вместе!</p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Карта Сайта</h5>
                    <ul>
                        <li><a class="white-text" [routerLink]="['home']">Главная страница</a></li>
                        <li><a class="white-text" [routerLink]="['movies']">Список фильмов</a></li>
                        <li><a class="white-text" [routerLink]="['showtimes']">Расписание</a></li>
                        <li><a class="white-text" [routerLink]="['cinemas']">Кинотеатры</a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Обратная связь</h5>
                    <ul>
                        <li class="white-text">Skype: andrey.nikolayevv</li>
                        <li class="white-text">Email: andreynikolayevv@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="https://github.com/AndreyNikolayev">Andrey Nikolayev</a>
            </div>
        </div>
    </footer>