<div class="section">
        <div class="container">
            <ul *ngIf="showtimeViews">
                <li *ngFor="let showview of showtimeViews">
                    <div class="theater-header light-blue">
                            {{showview.Cinema.Title}}
                    </div>
                    <ul class="movies-container">
                        <li class="movie-container" *ngFor="let movie of showview.Movies">
                            <div class="grey poster-container"></div>
                            <div class="movie-details">
                                <h3 class="movie-title">{{movie.Title}}</h3>
                            </div>
                            <ul class="showtime-container">
                                <li class="showtime-item-container" *ngFor="let showtime of movie.Showtimes">
                                    <a (click)="openPlaces(showtime.ShowTimeId)" class="placesButton waves-effect waves-light btn orange">{{showtime.StartTime | dateformat}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>