.center-element {
    margin: 0 auto;
}
.form-container {
    width: 50%;
    margin: 0 auto;
}
.pointer {
    cursor: pointer;
}
.switch-link {
    color: #ff9800;
}
.modal-footer {
    display: none !important;
}